# Python Language Basics and Jupyter Notebooks
Modified from Wes McKinney's code

In [1]:
 2 + 3

5

In [2]:
a =5
print(a)

5

In [3]:
print("hello world")

hello world

## The Python Interpreter 
demo in the shell

```python
$ python
Python 3.6.0 | packaged by conda-forge | (default, Jan 13 2017, 23:17:12)
[GCC 4.8.2 20140120 (Red Hat 4.8.2-15)] on linux
Type "help", "copyright", "credits" or "license" for more information.
>>> a = 5
>>> print(a)
5
```

```python
print('Hello world')
```

```python
$ python hello_world.py
Hello world
```

# Starting the Jupyter Notebook from command line

demo in the shell

In [4]:
import numpy as np
np.random.seed(12345)

data = {i : np.random.randn() for i in range(7)}
data

{0: -0.20470765948471295,
 1: 0.47894333805754824,
 2: -0.5194387150567381,
 3: -0.55573030434749,
 4: 1.9657805725027142,
 5: 1.3934058329729904,
 6: 0.09290787674371767}

### Tab Completion

In [5]:
an_apple = 27

In [ ]:
an_apple

### Introspection

In [6]:
b = [1, 2, 3]

In [8]:
b?

In [16]:
print(1, b, "no", "hello", sep='|')

1|[1, 2, 3]|no|hello

In [12]:
?b

In [13]:
?print

In [19]:
def add_numbers(a, b):
   return a + b

In [20]:
?add_numbers

In [21]:
add_numbers(1,5)

6

In [22]:
import os
os.listdir()

['JN-Python-quick-start.ipynb',
 '.ipynb_checkpoints',
 'helloworld.py',
 'add_number.py']

## Magic commands in Jupyter notebooks

In [4]:
%run helloworld.py

hellow world

In [6]:

def add_numbers(a, b):
    """
    Add two numbers together

    Returns
    -------
    the_sum : type of arguments
    """
    return a + b

In [ ]:

In [11]: add_numbers?
Signature: add_numbers(a, b)
Docstring:
Add two numbers together

Returns
-------
the_sum : type of arguments
File:      <ipython-input-9-6a548a216e27>
Type:      function
```

### About Magic Commands

In [9]:
import numpy as np
    
a = np.random.randn(100, 100)

%timeit np.dot(a, a)

19.5 µs ± 1.46 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [8]:
import numpy as np
a = np.random.randn(1000, 1000)
%timeit np.dot(a, a)

10.9 ms ± 798 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

## Python Language Basics

### Language Semantics

#### Indentation, not braces

```python
for x in array:
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)
```

```python
a = 5; b = 6; c = 7
```

#### Everything is an object

#### Comments

```python
results = []
for line in file_handle:
    # keep the empty lines for now
    # if len(line) == 0:
    #   continue
    results.append(line.replace('foo', 'bar'))
```

```python
print("Reached this line")  # Simple status report
```

#### Function and object method calls

```
result = f(x, y, z)
g()
```

```
obj.some_method(x, y, z)
```

```python
result = f(a, b, c, d=5, e='foo')
```

#### Variables and argument passing

In [ ]:
a = [1, 2, 3]

In [ ]:
b = a

In [ ]:
a.append(4)
b

```python
def append_element(some_list, element):
    some_list.append(element)
```

```python
In [27]: data = [1, 2, 3]

In [28]: append_element(data, 4)

In [29]: data
Out[29]: [1, 2, 3, 4]
```

#### Dynamic references, strong types

In [9]:
a = 5
type(a)

int

In [10]:
a = 'foo'
type(a)

str

In [10]:
'5' + 5

TypeError: can only concatenate str (not "int") to str

In [11]:
a = 4.5
b = 2
# String formatting, to be visited later
print('a is {0}, b is {1}'.format(type(a), type(b)))
a / b

a is <class 'float'>, b is <class 'int'>

2.25

In [14]:
a = 5
isinstance(a, int)

True

In [15]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

True

#### Attributes and methods

```python
In [1]: a = 'foo'

In [2]: a.<Press Tab>
a.capitalize  a.format      a.isupper     a.rindex      a.strip
a.center      a.index       a.join        a.rjust       a.swapcase
a.count       a.isalnum     a.ljust       a.rpartition  a.title
a.decode      a.isalpha     a.lower       a.rsplit      a.translate
a.encode      a.isdigit     a.lstrip      a.rstrip      a.upper
a.endswith    a.islower     a.partition   a.split       a.zfill
a.expandtabs  a.isspace     a.replace     a.splitlines
a.find        a.istitle     a.rfind       a.startswith
```

In [14]:
a = 'foo'

In [16]:
a.upper().lower()

'foo'

In [ ]:
getattr(a, 'split')

#### Duck typing
If it walks like a duck and it quacks like a duck, then it must be a duck

In [17]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [18]:
isiterable('a string')

True

In [19]:
isiterable([1, 2, 3])

True

In [20]:
isiterable(5)

False

if not isinstance(x, list) and isiterable(x):
    x = list(x)

#### Imports

```python
# some_module.py
PI = 3.14159

def f(x):
    return x + 2

def g(a, b):
    return a + b
```

import some_module
result = some_module.f(5)
pi = some_module.PI

from some_module import f, g, PI
result = g(5, PI)

import some_module as sm
from some_module import PI as pi, g as gf

r1 = sm.f(pi)
r2 = gf(6, pi)

#### Binary operators and comparisons

In [22]:
5 - 7
12 + 21.5
5 <= 2

False

In [ ]:
a = [1, 2, 3]
b = a
c = list(a)
a is b
a is not c

In [ ]:
a == c

In [ ]:
a = None
a is None

#### Mutable and immutable objects

In [23]:
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [24]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

In [25]:
a_tuple = a_tuple[0], 'four',  a_tuple[2:]
a_tuple

(3, 'four', ((4, 5),))

### Scalar Types
A scalar is a type that can have a single value such as 1.235, 3.1415926, or ‘UTC’.

Python’s types are similar to what you’d find in other dynamic languages. This section will move pretty quickly, just showing off the major types and an example or two of their usage.

#### Numeric types

In [ ]:
ival = 17239871
ival ** 6

In [ ]:
type(ival)

In [ ]:
fval = 7.243
fval2 = 6.78e-5

In [ ]:
3 / 2

In [ ]:
3 // 2

#### Strings

a = 'one way of writing a string'
b = "another way"

In [ ]:
c = """
This is a longer string that
spans multiple lines
"""

In [ ]:
c.count('\n')

In [ ]:
a = 'this is a string'
a[10] = 'f'
b = a.replace('string', 'longer string')
b

In [ ]:
a

In [ ]:
a = 5.6
s = str(a)
print(s)

In [ ]:
s = 'python'
list(s)
s[:3]

In [38]:
s = '12\\34'
print(s)

12\34

In [39]:
s = r'this\has\no\special\characters'
s

'this\\has\\no\\special\\characters'

In [ ]:
a = 'this is the first half '
b = 'and this is the second half'
a + b

In [ ]:
template = '{0:.2f} {1:s} are worth US${2:d}'

In [ ]:
template.format(4.5560, 'Argentine Pesos', 1)

#### Bytes and Unicode

In [ ]:
val = "español"
val

In [ ]:
val_utf8 = val.encode('utf-8')
val_utf8
type(val_utf8)

In [ ]:
val_utf8.decode('utf-8')

In [ ]:
val.encode('latin1')
val.encode('utf-16')
val.encode('utf-16le')

In [ ]:
bytes_val = b'this is bytes'
bytes_val
decoded = bytes_val.decode('utf8')
decoded  # this is str (Unicode) now

#### Booleans

In [ ]:
True and True
False or True

#### Type casting

In [26]:
s = '3.14159'
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

False

#### None

In [43]:
a = None
a is not None

False

In [42]:
b = 5
b is not None

True

In [48]:
def f(x):
    x = x + 1
    #return x

In [49]:
print(f(10))

None

def add_and_maybe_multiply(a, b, c=None):
    result = a + b

    if c is not None:
        result = result * c

    return result

In [ ]:
type(None)

#### Dates and times

In [55]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
print(dt.day)
print(dt.minute)
print(dt.microsecond)

29
30
0

In [56]:
print(dt.date())
print(dt.time())

2011-10-29
20:30:21

In [57]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [59]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [65]:
print(dt)
dt = dt.replace(minute=0, second=0)
print(dt)
# help(dt.replace())

2011-10-29 20:00:00
2011-10-29 20:00:00

In [67]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
print(delta)
type(delta)

17 days, 2:30:00

datetime.timedelta

In [ ]:
dt
dt + delta

### Control Flow

#### if, elif, and else

if x < 0:
    print('It's negative')

if x < 0:
    print('It's negative')
elif x == 0:
    print('Equal to zero')
elif 0 < x < 5:
    print('Positive but smaller than 5')
else:
    print('Positive and larger than or equal to 5')

In [ ]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print('Made it')

In [68]:
4 > 3 > 2 > 1

True

In [71]:
4 > 3 > 5 > 1

False

In [72]:
4 > 3 or 3 < 5 or 5 > 1

True

#### for loops

for value in collection:
    # do something with value

sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value

sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value

In [73]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

for a, b, c in iterator:
    # do something

#### while loops

x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2

#### pass

if x < 0:
    print('negative!')
elif x == 0:
    # TODO: put something smart here
    pass
else:
    print('positive!')

#### range

In [74]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [75]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [76]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

seq = [1, 2, 3, 4]
for i in range(len(seq)):
    val = seq[i]

sum = 0
for i in range(100000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        sum += i

#### Ternary expressions

value =

if

In [77]:
x = 5
'Non-negative' if x >= 0 else 'Negative'

'Non-negative'

In [25]:
x = 5
y = 10
x, y = y, x

In [26]:
print(x, y)

10 5